<div class="panel-heading">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            Search: <input type="search" name="searchbox" value=" " placeholder="Looking For Items?" class="form-control"/>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>